/* my custom CSS */

.ex-reps {
    margin-top: 25px;
    margin-bottom: 25px;
}

.ex-description {
    margin-bottom: 25px;
}

.img-fluid {
    max-width: 500px;
    max-height: 500px;
    height: auto;
}

.selected {
    color: yellow;
}

.card {
    border: none;
}

#routine-card{
    margin-top: 25px;
}

#ex-card {
    margin-top: 25px;
}