/* my custom CSS */

.text-right {
    text-align: right;
}

.bg-primary {
    background-color: #09c7fb;
    background-image: linear-gradient(315deg, #09c7fb 0%, #93fb9d 74%);
}

.navbar-expand-lg .navbar-nav .nav-button {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.ex-reps {
    margin-top: 25px;
    margin-bottom: 25px;
}

.ex-description {
    margin-bottom: 25px;
}

.img-fluid {
    max-width: 500px;
    max-height: 500px;
    height: auto;
}

.selected {
    color: yellow;
}

.card {
    border:none;
}

.routine-card {
    border: 5px;
}

#routine-card{
    margin-top: 25px;
}

#ex-card {
    margin-top: 25px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 0px;
    margin-top: 25px;
}

.routine-title {
    margin-top: 25px;
    margin-bottom: -40px;
    text-align: center;
}

.exercise-title {
    margin-top: 25px;
}

body {
    font-family: 'Montserrat', 'sans-serif';
}

.smiley {
    font-size: 20px;
    display: inline-block;
    margin-bottom: -7px;
    vertical-align: text-bottom;
}

.btn-group {
    margin-top: 10px;
    margin-bottom: 50px;
}