<!-- page displays list of all exercises in DB along with descriptions -->
{% extends 'base.html' %}

{% block title %}PT Remix - All exercises{% endblock %}

{% block body %}
    <h1>All Exercises</h1>

    <ul>
        {% for exercise in exercises %}
        <li>
            {{ exercise.name }}<br>
            Description: {{ exercise.description }}<br>
            Duration: {{ exercise.duration }}<br>
            Max reps: {{ exercise.max_reps }}<br>
            {{ exercise.img }}<br>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}