<!-- page for user input and building routine -->
{% extends "base.html" %}

{% block title %}PT Remix - Build a routine {% endblock %}

{% block body %}
    <h1>Build a New Routine</h1>

    <!-- For this one, need to get injury types from DB using app route -->
    <form name="build-routine", method="POST">
        <label>Select your injury: </label>
        <select class="dropdown-injury" data-toggle="popover" data-trigger="focus" title="What's this?" data-content="What injury or condition are you treating?" name="injury">
            <option value="">--</option>
            {% for injury in injuries %}
            <option value="{{ injury.name}}">{{ injury.name }}</option>
            {% endfor %}
        </select>

    <!-- Form for user to choose how long a routine -->
        <label>Duration (min): </label>
        <select name="duration" required=True>
            <option value="">--</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
            <option value="55">55</option>
            <option value="60">60</option>
        </select>

    <!-- Form for user to select focus -->
        <p>What would you like to focus on?</p>
        <input type="checkbox" name="exercise_type" value="strength"> Strength<br>

        <input type="checkbox" name="exercise_type" value="endurance"> Endurance<br>
        
        <input type="checkbox" name="exercise_type" value="balance"> Balance<br>

        <input type="checkbox" name="exercise_type" value="flexibility"> Flexibility<br>

    <!-- Form for user to select equipment y/n -->
        <label>Do you have equipment?</label>
        
        <input type="radio" name="equip" value="yes">
        <label>Yes</label>

        <input type="radio" name="equip" value="no">
        <label>No</label>
   
        <input type="submit" name="build-routine" value="Build my routine">
    </form>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        })
    </script>
    {% endblock %}