<!-- page for user input and building routine -->
{% extends "base.html" %}

{% block title %}PT Remix - Build a routine {% endblock %}

{% block body %}
    <h1>Build a New Routine</h1>

    <!-- For this one, need to get injury types from DB using app route -->
    <form name="build-routine", method="POST">
        <label>Select your injury: </label>
        <select name="injury">
            {% for injury in injuries %}
            <option value="{{ injury.name}}">{{ injury.name }}</option>
            {% endfor %}
        </select>

    <!-- Form for user to choose how long a routine -->
        <label>Duration (min): </label>
        <select name="duration">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
            <option value="55">55</option>
            <option value="60">60</option>
        </select>

    <!-- Form for user to select equipment y/n -->
        <label>Do you have equipment?</label>
        
        <input type="radio" name="equip" value="yes">
        <label>Yes</label>

        <input type="radio" name="equip" value="no">
        <label>No</label>
   
        <input type="submit" name="build-routine" value="Build my routine">
    </form>
    {% endblock %}