<!-- homepage displays create account and user login options -->
{% extends 'base.html' %}
{% block title %}PT Remix - Home{% endblock %}

{% block body %}
  <h1>Welcome to PT Remix!</h1>
  <div>
    <p>PT Remix builds your physical therapy routine based on your injury, time 
      available, and whether or not you have equipment on hand. It doesn't replace 
      visits to your phyiscal therapist, but will help you get through your exercises 
      at home.</p>
  </div>

  <div>
    <!-- If there's a user session, don't show the login/register form -->
    {% if session["user"] is sameas false %}
    <p>Please log in or register for an account to build your routine.</p>
    
    <form action="/" method="POST">
        <p>
            Email <input type="text" name="email" required=True>
        </p>
        <p>
            Password <input type="password" name="password" required=True>
        </p>
        <input type="submit" name="login" value="Log In">
        <input type="submit" name="register" value="Register">
    </form>
    {% endif %}
  </div>
{% endblock %}