<!-- page for a single routine -->
{% extends 'base.html' %}

{% block title %}PT Remix - Your routine{% endblock %}

{% block body %}
<!-- <style>
    /* .selected {
        color: yellow;
    } */
    /* .img-fluid {
        max-width: 500px;
        height: auto;
    } */
</style> -->
    <h1>Your Routine - {{ date.strftime('%m/%d/%Y') }}</h1>
        <div>
        {% for exercise in exercises %}
            <p>{{ exercise.name }}</p>
            <p>Description: {{ exercise.description }}</p>
            <p>Max reps: {{ exercise.max_reps }}</p>
            <p>Exercise ID: {{exercise.exercise_id }}</p>
            <p>Reps: {{ exercise.reps }}</p>
            <p><img src="{{ exercise.img }}" class="img-fluid" alt="Responsive image"></p>
            <p>How did this exercise go?</p>
            <div class="yay {{ exercise.exercise_id }} pain-button" id="yay-{{ exercise.exercise_id }}-{{ routine_id }}" value="Great!">Great!</div>
            <div class="meh {{ exercise.exercise_id }} pain-button" id="meh-{{ exercise.exercise_id }}-{{ routine_id }}" value="Okay">Okay</div>
            <div class="ouch {{ exercise.exercise_id }} pain-button" id="ouch-{{ exercise.exercise_id }}-{{ routine_id }}" value="Bad">Bad</div>
        {% endfor %}
        </div>
    <script>
        const painButton = $('.pain-button');
        console.dir(painButton);
        painButton.on('click', (evt) => {
            console.log(evt.target.id);
            
            var id_string = evt.target.id;
            var list_id_string = id_string.split("-");
            const routine = list_id_string[2]
            
            // sends to server, routine info, pain level, and what button was clicked
            $.post('/routine/' + routine, {'pain_level': list_id_string[0], 'id': evt.target.id}, (res) => {
                // testing to see if my pain level settings are working
                console.log(list_id_string[0]);
                console.log(res['status']);
                $('.' + list_id_string[1]).removeClass('selected');
                $('#' + id_string).addClass('selected');
            })
        });
    </script>
    {% endblock %}